/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

html, body {
 height: 100%;
}

body {
 font-family: Palatino, serif;
 zoom: 1;
 -moz-transform: scale(1);
 color: black;
 position: relative;
 background-color: #616161;
 font-size: 14px;
 height: auto;
}


a {
color:#B25A03;
}

#content-text a{
text-decoration:underline;
}

.nothere {
 display: none;
}

h1 {
 color: #7e0804;
 letter-spacing: 1px;
 font-size: 2.0em;
 text-transform: uppercase;
 margin-bottom: 25px;
}

img {
 max-width: 100%;
}

img[src=""] {
 display: none !important;
}

label {
 display: block;
}

img.full-width {
 width: 100%;
}


#lightbox .lb-next,
#lightbox .lb-prev {
 width: 50%;
}

#logo {
 padding: 20px 0;
 max-width: 297px;
 float: left;
}

.container {
 max-width: 970px;
 padding-left: 10px;
 padding-right: 10px;
}

.icon-bar {
 background-color: white;
}

.navbar-collapse {
 max-height: none;
}

#bars {
 width: 100%;
 height: 40px;
 display: block;
}

#bars > div {
 height: 8px;
 margin-bottom: 8px;
 box-shadow: 0 5px 5px rgba(0,0,0,.3);
}

#bars > div.orange {
 background-color: #b95714;
}

#bars > div.green {
 background-color: #797100;
}

#bars > div.red {
 background-color: #8b0303;
 margin-bottom: 0;
}

#header {
 background-color: white;
}




/******
Header Navigation
*******/

#navigation {
 background-color: #ba5915;
 width: 100%;
 font-weight: bold;
 border-radius: 0;
 border: none;
 min-height: 0;
}


#menu-main-menu a {
 color: white;
 padding: 10px 25px;
 display: block;
}

#menu-main-menu a:hover {
 text-decoration: none;
}

#menu-main-menu > li > a {
 text-transform: uppercase;
}

#menu-main-menu ul a {
 padding: 5px 24px;
}

#menu-main-menu ul {
 display: none;
 opacity: 0;
 position: absolute;
 width: 200px;
 background-color: #d27431;
 padding: 10px 0;
 list-style: none;
 border-bottom-left-radius: 6px;
 border-bottom-right-radius: 6px;
 z-index: 10;
}

#menu-main-menu li.current-menu-item {
	background: #8b0304;
}

#menu-main-menu > li > ul {
 font-size: .95em;
}

#menu-main-menu ul ul {
 background-color: #e5945b;
 border-radius: 0;
 border-top-right-radius: 6px;
 border-bottom-right-radius: 6px;
}

#menu-main-menu > li > ul > li {
 position: relative;
}

#menu-main-menu > li > ul > li > ul {
 left: 100%;
 top: -10px;
}

.navbar-collapse {
 padding: 0;
}

#menu-main-menu > li.active > a,
#menu-main-menu > li:hover > a {
 background-color: #8b0304;
}

#menu-main-menu > li > ul > li.active > a,
#menu-main-menu > li > ul > li:hover > a {
 background-color: #e5945b;
}

#menu-main-menu > li > ul > li > ul > li.active > a,
#menu-main-menu > li > ul > li > ul > li:hover > a {
 color: #ba5915;
 background-color: white;
}

.navbar-header {
	float: none;
}
.navbar-toggle {
	display: block;
}

.navbar-collapse {
	border-top: 1px solid transparent;
	box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}

.navbar-collapse.collapse {
	display: none !important;
}

.navbar-nav {
	float: none !important;
}

.navbar-nav > li {
	float: none;
}

.navbar-nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.collapse.in {
	display:block !important;
	padding-bottom: 10px;
}

#menu-main-menu,
#menu-main-menu ul {
	display: block;
	position: static;
	padding: 0;
	width: 100%;
	margin: 0;
}

#menu-main-menu ul {
	opacity: 1;
	position: static;
	padding: 0;
	width: 100%;
 }

 #menu-main-menu > li > ul > li > a {
	padding-left: 30px;
 }

 #menu-main-menu > li > ul > li > ul > li > a {
	padding-left: 40px;
 }

@media (min-width: 991px){

	.navbar-header {
		display: none;
	}

	.navbar-collapse.collapse {
		display: block!important;
		height: 60px;
	}

	#menu-main-menu > li {
		float: left;
	}

	#menu-main-menu > li > ul.sub-menu {
		display: none;
	}

	#menu-main-menu > li:hover > ul.sub-menu {
		position: absolute;
		display: block;
		width: 200px;
	}

}

/***
End Header Nav
*****/



#banner {
 margin-bottom: 20px;
}

#top-links {
 margin: 25px 0 0 0;
 font-size: 1.2em;

}

#menu-top-links {
	margin-top: 0;
}

#menu-top-links li {
	display: inline-block;
}

#top-links a {
 color: #6f6f6f;
}

#top-links a:hover {
 color: black;
}

#top-links .hidden-xs {
	margin-right: 10px;
}

#top-links span.glyphicon {
 font-size: .6em;
 vertical-align: baseline;
}

#top-links .top-links {
 font-size: .9em;
 font-weight: bold;
 display: inline-block;
}

#top-links .top-links a {
padding:0px 5px;
}

#font-size {
 cursor: default;
 display: inline-block;
}

#font-size img {
 vertical-align: top;
 margin-top: 6px;
 cursor: pointer;
}

#font-size img.reset {
 margin-top: 4px;
}

#phone {
 font-weight: bold;
}

#content {
 background-color: white;
}

#content-text ul {
	padding-left: 30px;
}


#content-text ul li {
	list-style: disc;
	list-style-position: outside;
}

#content > .container > .row {
 padding-top: 30px;
 padding-bottom: 30px;
}

#content > .container > #banner + .row {

}

.not-front h1 {
 margin-bottom: 0;
 padding-bottom: 20px;
}

#image-responsive img {
 width: 100%;
 height: auto;
 max-width: 780px;
 margin: 0 auto;
 display: block;
}

#left-nav li.menu-item-has-children > a{
 margin: -3px 0 4px 0;
 font-size: 1em;
 text-transform: uppercase;
}


#left-nav a {
 font-weight: bold;
 color: #820900;
}

#left-nav ul {
 padding: 0;
 list-style: none;
}

#left-nav div ul li ul {
 padding-left: 0x;
 margin-top: 5px;
}

#left-nav > ul > li > a {
 font-weight: bold;
}

#left-nav .current-menu-item > a {
 color: #6a6a6a;
}

#content-text p{
font-size:1.1em;
}

#content-text .gallery-thumbs img {
 margin-bottom: 20px;
}

.gallery-thumbs {
margin-top:-15px;
}

#map {
 height: 400px;
 border: 1px solid black;
}

#vicinity-list {
 margin-bottom: 10px;
 margin-top: 20px;
}

#vicinity-list ul {
 padding: 0;
 margin: 0;
 list-style: none;
}

#vicinity-list > ul > li {
 padding-bottom: 4px;
}

#vicinity-list ul ul {
 display: inline;
}

#vicinity-list ul ul li {
 display: inline;
}

#vicinity-list ul ul li:after {
 content: ' | ';
}

#vicinity-list ul ul li:last-child:after {
 content: '';
}

#vicinity-list a {
 color: #a85825;
}

#contact-map {
 height: 0;
 padding-bottom: 80%;
 position: relative;
}

#contact-map iframe {
 width: 100%;
 height: 100%;
 position: absolute;
}

ul#events {
 padding: 0;
 margin: 0;
 list-style: none;
}

ul#events li {
 margin-bottom: 10px;
 padding-bottom:8px;
 border-bottom: 1px solid black;
}

ul#events li:last-child {
 border-bottom: 0;
 margin-bottom: 20px;
}

ul#events h2 {
 font-size: 1.2em;
 font-weight: bold;
 margin: 0;
}

ul#events h2 a {
color:#000 !important;
}

#footer {
 font-size: .7em;
 color: white;
 background-color: #616161;
 padding: 20px 0 10px 0;
 font-family: Arial;
 left: 0;
 right: 0;
}

#footer a {
 color: white;
}

#footer ul {
 margin: 0;
 list-style: none;
 padding-left: 10px;
 border-left: 1px solid #111;
}

#footer > .container > .row > div[class*="col"] > .row > div[class*="col"] {
 margin-bottom: 10px;
}

form {
 margin: 0;
}

.tdcms-form-actions {
 padding-top: 15px;
}

.tdcms-form-actions > input,
.submit-row > button {
 background: #dd905a; /* Old browsers */
 background: -moz-linear-gradient(top,  #dd905a 0%, #c05811 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dd905a), color-stop(100%,#c05811)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #dd905a 0%,#c05811 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #dd905a 0%,#c05811 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #dd905a 0%,#c05811 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #dd905a 0%,#c05811 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dd905a', endColorstr='#c05811',GradientType=0 ); /* IE6-9 */
 color: white;
 font-family: arial;
}

.fieldset {
 margin-bottom: 10px;
}

.fieldset > label {
 font-family: arial;
 color: #7f7f7f;
 font-size: .85em;
 margin-bottom: 2px;
 font-weight: normal;
}

.fieldset.req > label {
 font-weight: bold;
}

.fieldset > input,
.fieldset > textarea,
.input-row > input,
.input-row > textarea {
 width: 100%;
 border: 1px solid #b2b2b2;
 border-radius: 4px;
 padding: 3px 3px 3px 6px;
}

.fieldset input[name="zip"],
.fieldset input[name="phone"] {
 width: 50%;
 min-width: 100px;
}

.fieldset input[name="captcha"] {
 width: 100px;
}

.select-holderOFF {
 display: inline-block;
 position: relative;
}

.select-holderOFF:after {
 content: ' ';
 position: absolute;
 right: 0;
 width: 20px;
 height: 100%;
 top: 0;
 pointer-events: none;
 border: 1px solid #b2b2b2;
 border-radius: 0 4px 4px 0;
 background-image: url('../img/updown.png');
 background-repeat: no-repeat;
 background-position: 5px 5px;
 z-index: 2;
}

.select-holderOFF:before {
 content: ' ';
 position: absolute;
 right: 0;
 width: 20px;
 height: 100%;
 top: 0;
 pointer-events: none;
 z-index: 1;
 border: 1px solid transparent;
 background: #e8e8e8; /* Old browsers */
 background: -moz-linear-gradient(top,  #e8e8e8 0%, #ffffff 100%); /* FF3.6+ */
 background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e8e8e8), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
 background: -webkit-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
 background: -o-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* Opera 11.10+ */
 background: -ms-linear-gradient(top,  #e8e8e8 0%,#ffffff 100%); /* IE10+ */
 background: linear-gradient(to bottom,  #e8e8e8 0%,#ffffff 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.select-holderOFF .shadows {
 pointer-events: none;
 width: 100%;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0;
 z-index: 3;
 border-radius: 4px;
 box-shadow: inset 5px 0 5px #ddd, inset -5px 0 5px #ddd;
 border: 1px solid transparent;
}

#pfbcForm {
font-family: arial, helvetica, sans-serif !important;
}


#homeHeading{
margin-bottom:10px;
}

#lunchTour img{
 width:311px;
 display: block;
 margin: 0;
 margin-left:0px;
}


#social_connect {
   float: left;
   font-size: 12px;
   margin-top: 12px;
   padding-right: 9px;  
}

#social_media {
   float: left;
   font-size: 28px;  
}

#social_media a {
   color: #c1b466;
}

#social_media a:hover {
   color: #8d8241;  
}

@media (max-width:767px) {
 #content > .container > .row {
	padding-top: 0;
 }

 #top-links {
	margin: 0 10px 20px 0;
	font-size: .9em;
	float: none;
	text-align: center;
	clear: both;
 }

 #banner {
	margin-left: -10px;
	margin-right: -10px;
 }

 .hide-xs {
	display: none;
 }

 #phone {
	font-size: 1.4em;
	float: right;
	margin: 0 10px 5px 10px;
 }

 .input-row > #phone {
	font-size: inherit;
	float: none;
	margin: 0;
 }

 #logo {
	padding-bottom: 0;
 }

 #homeHeading {
   padding-top: 30px;  
 }

}

@media (min-width:768px) {
 .show-xs {
	display: none;
 }

}


#flash-modal {
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 z-index: 200;
 background-color: rgba(0,0,0,0.8);
}

#flash-modal .inner {
 max-width: 1300px;
 margin: 0 auto;
}

#flash {
 height: 0;
 padding-bottom: 60%;
 position: relative;
}

#flash label {
background-color: #eee;
color: black;
display: block;
padding: 5px;
margin: 0;
width: 35px;
text-align: center;
border-radius: 30px;
border: 3px solid black;
}

#flash object {
 position: absolute;
 width: 100%;
 height: 100%;
}

#open-flash {
 float: right;
 margin-top: -50px;
 margin-right: 10px;
}

#plans {
margin-top:-14px;
}

#plans > * {
 margin-bottom: 20px;
}

#getDir {
color:#b9683b !important;
font-weight:bold;
}

.eDate {
font-size:.9em;
margin:4px 0;
}

label.requiredLabel {
font-weight:bold !important;
}


#home_video_panel {
   background-color: #F5F3E4; 
   overflow: auto;
   margin-left: 0;
   margin-right: 8px;
}

#home_video {
   background-color: #F5F3E4;
}

#home_video img {
   padding: 16px;
}

#home_video_text h2 {
   color: #7E0804;
   font-size: 2.2em;
   letter-spacing: .01em;
   margin-top: 10px;
   background-color: #F5F3E4;
}

#home_video_text p {
   font-size: 1.1em;
}


#lunchTour .well {
   margin-left: 8px;
   margin-right: 12px;
   padding: 14px 18px 18px; 
}

.hidden-xs .well {
   margin-top: 18px; 
}

#contactwl {
   margin-top: 18px;  
}

#contactwl .well {
   margin-top: 18px;
}

.well h2 {
   color: #7e0804;
   font-size: 2em;
   letter-spacing: 1px;
   margin-top: 0;  
}

.well .instrux {
   margin-bottom: 9px;  
}

.minicontact_btn {
   width: 110px;
   margin-top: -12px;
}

.input-row label {
 font-family: arial;
 color: #333;
 font-size: .9em;
 font-weight: normal;
 margin: 9px 0 0;
}

.input-row #message {
 height: 96px;
 font-family: arial;
}

.input-row label[for=message] {
 margin-top: 9px !important;  
}

.submit-row > button {
   width: 100px;
   margin: 12px 0 0 0 !important;
}

.input-row .error {
   color: red;
   margin: -3px 0 9px;  
}

.input-row > input,
.input-row > select {
   font-family: arial;  
}

.input-row #phone {
 font-weight: normal;
}
